.side-bar {
  background:#373A4E;
  position: fixed;
  top: 0;
  height: 100%;
  width: 3rem;
  overflow:hidden;
  transition:width .2s linear;
  z-index: 2;

  &:hover {
    width: 13rem;
    overflow: hidden;
    opacity: 1;
  }
}

.side-bar li {
  position: relative;
  display: block;
  width: 13rem;
}

.side-bar li>a {
  position: relative;
  width: 17rem;
  display: table;
}

.side-bar .nav-icon {
  position: relative;
  display: table-cell;
}

.side-bar .nav-text {
  position: relative;
  display: table-cell;
  width: 13rem;
}

nav ul, nav li {
  padding: .3rem;
}

.logo {
  color: #6c757d;
}